.div-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.div-title--white {
    color: var(--main-white-color);
}

.div-title--dark {
    color: var(--title-text-color);
}