.client__list {
    @extend %gap-list;
    flex-wrap: wrap;
    justify-content: center;
}

.client__item {
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    width: 170px;
    height: 92px;
}

.client__link {
    width: 100%;
    height: 100%;
    @extend %flex-list;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        border: 1px solid var(--accent-color);
    }
}

.client__icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .client__link:focus &,
    .client__link:hover & {
        fill: var(--accent-color);
    }
}