.descr__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}


.descr__icon {
    width: 100%;
    height: 120px;
    background-color: var(--additional-background-color);
    @extend %flex-list;
    margin-bottom: 30px;

}

.descr__item {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.descr__div-title {
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.descr__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}