.hero {
    background-color: var(--secondary-background-color);

    text-align: center;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 118px 0;
    background-image: var(--bg-gradient), url(../images/header-img-mob.jpg);
    background-position: center;
    background-size: cover;

    @include retina {
        background-image: var(--bg-gradient), url(../images/header-img-mob-2x.jpg);
    }

    @media screen and (min-width: 768px) {
        background-image: var(--bg-gradient), url(../images/header-img-tab.jpg);

        @include retina {
            background-image: var(--bg-gradient), url(../images/header-img-tab-2x.jpg);
        }
    }

    @media screen and (min-width: 1200px) {
        padding: 200px 0;
        background-image: var(--bg-gradient), url(../images/people.jpg);

        @include retina {
            background-image: var(--bg-gradient), url(../images/people-2x.jpg);
        }
    }
}

.hero__title {
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-white-color);

    max-width: 360px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;

    @media screen and (min-width: 1200px) {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;

        min-width: 696px;
    }


}

.hero__btn {
    width: 200px;
    height: 50px;

    @media screen and (min-width: 1200px) {
        width: 216px;
    }
}