.team__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.team-soc {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.team-soc__link {
    width: 44px;
    height: 44px;
    @extend %flex-list;

    @media screen and (min-width: 1200px) {
        border-radius: 50%;
        background-color: var(--main-white-color);

        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
    }
}

.team-soc__icon {
    fill: #AFB1B8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {

        .team-soc__link:hover &,
        .team-soc__link:focus & {
            fill: var(--main-white-color);
        }
    }
}

.team-info {
    padding: 30px 15px;
}

.team__item {
    background-color: var(--primary-background-color);
    width: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.team-info__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
    text-align: center;
    margin-bottom: 10px;
}

.team-info__text {
    text-align: center;
    margin-bottom: 16px;
}